Repository nicklnick/tpe-arqui-microservicios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-api-gateway, trigger-chat-session, trigger-chats, trigger-document-manager, trigger-llm-manager, trigger-message-history, trigger-role-manager

trigger-api-gateway:
  stage: triggers
  trigger:
    include: /api-gateway/.gitlab-ci.yml

trigger-chat-session:
  stage: triggers
  trigger:
    include: chat-session/.gitlab-ci.yml

trigger-chats:
  stage: triggers
  trigger:
    include: chats/.gitlab-ci.yml

trigger-document-manager:
  stage: triggers
  trigger:
    include: document-manager/.gitlab-ci.yml

trigger-llm-manager:
  stage: triggers
  trigger:
    include: llm-manager/.gitlab-ci.yml

trigger-message-history:
  stage: triggers
  trigger:
    include: message-history/.gitlab-ci.yml

trigger-role-manager:
  stage: triggers
  trigger:
    include: role-manager/.gitlab-ci.yml

build: set a pv for the whole app, change helm templates accordingly
  helm-chart/templates/db/pv.yaml
  helm-chart/templates/pv.yaml
  helm-chart/values-chats.yaml
  helm-chart/values-document-manager.yaml
  helm-chart/values-pv.yaml
  helm-chart/values-role-manager.yaml
Due: none

feat(document-manager): add microservice, no tests implemented
  document-manager/.env
  document-manager/.gitlab-ci.yml
  document-manager/.scripts/component/test.sh
  document-manager/.scripts/e2e/docker-compose.yaml
  document-manager/.scripts/e2e/test.sh
  document-manager/.scripts/functional/test.sh
  document-manager/.scripts/integration/test.sh
  document-manager/.scripts/unit/test.sh
  document-manager/Dockerfile
  document-manager/requests.http
  document-manager/requirements.txt
  document-manager/src/__init__.py
  document-manager/src/app.py
  document-manager/src/config/__init__.py
  document-manager/src/config/documents_db_config.py
  document-manager/src/config/embeddings_db_config.py
  document-manager/src/db.py
  document-manager/src/models/__init__.py
  document-manager/src/models/document.py
Due: trigger-document-manager

fix: helm-chart fields in ingress
  helm-chart/templates/ingress.yaml
  helm-chart/values-chats.yaml
  helm-chart/values-document-manager.yaml
  helm-chart/values-embeddings.yaml
  helm-chart/values-role-manager.yaml
Due: none

feat(chats): Finished Chats Implementation
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  chats/.gitignore
  chats/ChatsApi/ChatsApi.sln
  chats/ChatsApi/ChatsApi/ChatsApi.csproj
  chats/ChatsApi/ChatsApi/Controllers/ChatsController.cs
  chats/ChatsApi/ChatsApi/Controllers/Dtos/ChatDto.cs
  chats/ChatsApi/ChatsApi/Migrations/20240630183048_InitialMigration.Designer.cs
  chats/ChatsApi/ChatsApi/Migrations/20240630183048_InitialMigration.cs
  chats/ChatsApi/ChatsApi/Migrations/ChatDbContextModelSnapshot.cs
  chats/ChatsApi/ChatsApi/Models/Chat.cs
  chats/ChatsApi/ChatsApi/Models/ChatDbContext.cs
  chats/ChatsApi/ChatsApi/Program.cs
  chats/ChatsApi/ChatsApi/Properties/launchSettings.json
  chats/ChatsApi/ChatsApi/ServicesImplementation/ChatsService.cs
  chats/ChatsApi/ChatsApi/ServicesInterface/IChatsService.cs
  chats/ChatsApi/ChatsApi/appsettings.json
Due: trigger-chats

chore(embeddings): delete embeddings folder bc it doesnt make sense as it has no api
  embeddings/.gitlab-ci.yml
  embeddings/Dockerfile
Due: none

chore(document-manager): remove debug prints
  document-manager/.env
  document-manager/src/config/embeddings_db_config.py
Due: trigger-document-manager

ci: correct deploy stage in pipeline
  cicd-pipeline-template.yml
  helm_charts/.gitignore
  helm_charts/app/charts/document-manager-0.1.0.tgz
  helm_charts/app/charts/embeddings-0.1.0.tgz
  helm_charts/app/charts/ingress-nginx-4.10.1.tgz
  helm_charts/app/charts/role-manager-0.1.0.tgz
  helm_charts/embeddings/values.yaml
  helm_charts/try.sh
Due: none

test(chats): Finished unit tests
  chats/.gitignore
  chats/ChatsApi/ChatsApi.sln
  chats/ChatsApi/ChatsApi.sln.DotSettings.user
  chats/ChatsApi/ChatsApi/ChatsApi.csproj
  chats/ChatsApi/ChatsApi/Models/ChatDbContext.cs
  chats/ChatsApi/ChatsApi/ServicesImplementation/ChatsService.cs
  chats/ChatsApi/Tests/ChatControllerUnitTests.cs
  chats/ChatsApi/Tests/ChatServiceUnitTests.cs
  chats/ChatsApi/Tests/Tests.csproj
Due: trigger-chats

test(document-manager): add e2e tests
  document-manager/.dockerignore
  document-manager/.scripts/e2e/.env
  document-manager/.scripts/e2e/docker-compose.yaml
  document-manager/.scripts/e2e/test.sh
  document-manager/requirements.txt
  document-manager/src/config/embeddings_db_config.py
  document-manager/src/tests/__init__.py
  document-manager/src/tests/e2e/__init__.py
  document-manager/src/tests/e2e/test_app.py
  helm_charts/document_manager/values.yaml
Due: trigger-document-manager

feat(document-manager): support pdf files
  document-manager/.scripts/e2e/docker-compose.yaml
  document-manager/requirements.txt
  document-manager/src/app.py
  document-manager/src/background_tasks.py
  document-manager/src/models/document.py
  document-manager/src/tests/e2e/sample.pdf
  document-manager/src/tests/e2e/test_app.py
Due: trigger-document-manager

feat(llm-manager): first working iteration
  llm-manager/.gitignore
  llm-manager/Dockerfile
  llm-manager/app.py
  llm-manager/requirements.txt
  llm-manager/src/__init__.py
  llm-manager/src/controllers/ConsumerController.py
  llm-manager/src/controllers/__init__.py
  llm-manager/src/models/InputLLM.py
  llm-manager/src/models/__init__.py
  llm-manager/src/models/config.py
  llm-manager/src/repositories/EmbeddingsRepository.py
  llm-manager/src/repositories/__init__.py
  llm-manager/src/services/InputService.py
  llm-manager/src/services/__init__.py
Due: trigger-llm-manager

feat(document-manager): support pdf files
  document-manager/.scripts/e2e/docker-compose.yaml
  document-manager/requests.http
  document-manager/requirements.txt
  document-manager/src/app.py
  document-manager/src/background_tasks.py
  document-manager/src/models/document.py
  document-manager/src/tests/e2e/sample.pdf
  document-manager/src/tests/e2e/test_app.py
Due: trigger-document-manager

feat(document-manager): add /documents endpoint to get all documents
  document-manager/src/app.py
  document-manager/src/models/document.py
Due: none

feat(message-history):Finished message history features, (database insertion, rabbitmq, etc...)
  message-history/.gitignore
  message-history/messageHistory.sln
  message-history/src/Api/Api.csproj
  message-history/src/Api/Controllers/MessagesController.cs
  message-history/src/Api/EntityFrameworkConfig/MessagesDbContext.cs
  message-history/src/Api/MessageQueueUtils/QueueMessage.cs
  message-history/src/Api/MessageQueueUtils/RabbitMQConsumer.cs
  message-history/src/Api/Migrations/20240703190858_InitialMigration.Designer.cs
  message-history/src/Api/Migrations/20240703190858_InitialMigration.cs
  message-history/src/Api/Migrations/MessagesDbContextModelSnapshot.cs
  message-history/src/Api/Models/Message.cs
  message-history/src/Api/Program.cs
  message-history/src/Api/Properties/launchSettings.json
  message-history/src/Api/ServicesImplementation/MessageHistoryService.cs
  message-history/src/Api/ServicesInterfaces/IMessageHistoryService.cs
Due: trigger-message-history

feat(document-manager): split documents in chunks
  document-manager/requirements.txt
  document-manager/src/background_tasks.py
Due: trigger-document-manager

refactor(llm-manager): decouple consumer controller
  .gitignore
  llm-manager/app.py
  llm-manager/requirements.txt
  llm-manager/src/controllers/ConsumerController.py
  llm-manager/src/models/AsyncRabbitMQConsumer.py
  llm-manager/src/models/GeminiLlm.py
  llm-manager/src/repositories/EmbeddingsRepository.py
  llm-manager/src/services/InputService.py
  llm-manager/src/services/ManagerService.py
  llm-manager/src/test/__init__.py
  llm-manager/src/test/unit/__init__.py
Due: trigger-llm-manager

chore(llm-manager): handle db connection exceptions and interruptions
  llm-manager/Dockerfile
  llm-manager/app.py
  llm-manager/src/controllers/ConsumerController.py
  llm-manager/src/exception/exceptions.py
  llm-manager/src/models/AsyncRabbitMQConsumer.py
  llm-manager/src/models/GeminiLlm.py
  llm-manager/src/repositories/EmbeddingsRepository.py
  llm-manager/src/services/ManagerService.py
Due: trigger-llm-manager

feat(k8s): Added chats k8s manifest
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/users/UserController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/GreetingMessage.java
  chats/ChatsApi/ChatsApi/ChatsApi.csproj
  chats/ChatsApi/ChatsApi/Controllers/ChatsController.cs
  chats/ChatsApi/ChatsApi/Program.cs
  chats/ChatsApi/ChatsApi/appsettings.json
  chats/ChatsApi/Dockerfile
  chats/Dockerfile
  chats/chatsdatabasemanifest.yaml
  chats/chatsmanifest.yaml
  message-history/src/Api/MessageQueueUtils/QueueMessage.cs
  message-history/src/Api/MessageQueueUtils/RabbitMQConsumer.cs
Due: trigger-chats

chore(chat-session): boilerplate code for microservice
  chat-session/.gitignore
  chat-session/.gitlab-ci.yml
  chat-session/.mvn/wrapper/maven-wrapper.properties
  chat-session/docker-compose.yaml
  chat-session/mvnw
  chat-session/mvnw.cmd
  chat-session/pom.xml
  chat-session/src/main/java/ar/edu/itba/arquimicro/SpringAmpqDemoApplication.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/payloads/InputResponsePayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/payloads/LlmPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/util/QueueNames.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/util/ServiceNames.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/util/UriPaths.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/Chat.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/Message.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/MessageHistory.java
  chat-session/src/main/resources/application.properties
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampq/SpringAmpqDemoApplicationTests.java
Due: trigger-chat-session

feat(api-gw): now api gw connects to messageHistory
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/ChatsController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/MessageHistoryController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/MessageHistoryResponseDto.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IMessageHistoryService.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/implementations/MessageHistoryService.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/MessageHistoryServiceResponseDto.java
  api-gateway/apigw/src/main/resources/application.yml
Due: none

feat(api-gw): Api Gw now publishes questions to rabbitMQ
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/configuration/RabbitMQConfig.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/configuration/WebSocketConfig.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/constants/RabbitMQConstants.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/FarewellMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/QuestionMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/WebSocketMessage.java
  api-gateway/apigw/src/main/resources/application.yml
Due: none

feat(api-gw): Api gw now connects to session and session to message history
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/constants/RabbitMQConstants.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/QuestionMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/forwardingToBackendDtos/QuestionDto.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/incomingFromFrontendDtos/QuestionMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/incomingFromFrontendDtos/WebSocketMessage.java
  chat-session/.gitignore
  chat-session/docker-compose.yaml
  chat-session/pom.xml
  chat-session/src/main/java/ar/edu/itba/arquimicro/SpringAmpqDemoApplication.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/payloads/InputRequestPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/payloads/LlmPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/util/QueueNames.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/Chat.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/Message.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/rest/models/MessageHistory.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/IMessageHistoryService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/MessageHistoryService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/rest/models/Message.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/rest/models/MessageHistory.java
  chat-session/src/main/resources/application.properties
  chat-session/src/main/resources/application.yml
Due: trigger-chat-session

feat(chat-session/api-gw): sessionId and messageId are now cached using redis
  chat-session/pom.xml
  chat-session/src/main/java/ar/edu/itba/arquimicro/SpringAmpqDemoApplication.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RedisConfig.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/ICacheService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/CacheService.java
  chat-session/src/main/resources/application.yml
Due: trigger-chat-session

feat(chat-session):Chat session now recieves from api gw message, sends to llm queue, recieves from llmqueue and sends to messageHistory queue
  chat-session/src/main/java/ar/edu/itba/arquimicro/SpringAmpqDemoApplication.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/payloads/LlmPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampq/util/QueueNames.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/payloads/InputRequestPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/payloads/InputResponsePayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/util/QUEUES_DATA.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/util/ServiceNames.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/util/UriPaths.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RabbitMQConfig.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/ILlmService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/IMessageHistoryService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/LlmService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/MessageHistoryService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/LlmPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/LlmResponse.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/Message.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/MessageHistory.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/MessageToHistory.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/SpringAmpqDemoApplicationTests.java
  message-history/src/Api/MessageQueueUtils/QueueMessage.cs
Due: none

Added chats chart
  helm-charts/app/charts/chats/.helmignore
  helm-charts/app/charts/chats/Chart.yaml
  helm-charts/app/charts/chats/templates/_helpers.tpl
  helm-charts/app/charts/chats/templates/api/deployment.yaml
  helm-charts/app/charts/chats/templates/api/service.yaml
  helm-charts/app/charts/chats/templates/db/pv.yaml
  helm-charts/app/charts/chats/templates/db/pvc.yaml
  helm-charts/app/charts/chats/templates/db/service.yaml
  helm-charts/app/charts/chats/templates/db/stateful_set.yaml
  helm-charts/app/charts/chats/values.yaml
Due: none

fix(chats-chart):fixed chats chart
  helm-charts/app/charts/chats/values.yaml
Due: none

test(llm-manager): component test
  llm-manager/src/exception/__init__.py
  llm-manager/src/test/component/__init__.py
  llm-manager/src/test/component/mocked_app.py
  llm-manager/src/test/component/mocked_client.py
  llm-manager/src/test/component/test.py
Due: none

test(chats):Added integration tests
  chats/ChatsApi/ChatsApi.sln.DotSettings.user
  chats/ChatsApi/Tests/ChatsIntegrationTest.cs
Due: none

test(llm-manager): manage input in manager service
  llm-manager/src/test/unit/manager_service_test.py
Due: none

build(message-history): Containerized message history and its dependencies
  message-history/Dockerfile
  message-history/docker-compose.yml
  message-history/src/Api/MessageQueueUtils/RabbitMQConsumer.cs
  message-history/src/Api/Program.cs
Due: trigger-message-history

test(llm-manager): unit and component ci scripts
  llm-manager/.scripts/component/docker-compose.yml
  llm-manager/.scripts/component/test.sh
  llm-manager/.scripts/e2e/test.sh
  llm-manager/.scripts/functional/test.sh
  llm-manager/.scripts/integration/test.sh
  llm-manager/.scripts/unit/docker-compose.yml
  llm-manager/.scripts/unit/test.sh
Due: none

ops: fix unit-test stage in pipeline tempalte
  cicd-pipeline-template.yml
Due: none

merge: solve merge conflict
  .gitignore
  chats/.env.prod
  chats/.gitlab-ci.yml
  chats/ChatsApi/docker-compose.yaml
  chats/chatsdatabasemanifest.yaml
  chats/chatsmanifest.yaml
  helm-charts/.gitignore
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/chats/templates/db/stateful_set.yaml
  helm-charts/app/charts/chats/values.yaml
  helm-charts/app/charts/document-manager/values.yaml
  helm-charts/app/charts/embeddings/values.yaml
  helm-charts/app/charts/role-manager/values.yaml
  helm-charts/app/templates/ingress.yaml
  helm-charts/app/values.yaml
  role-manager/.gitignore
Due: trigger-chats, trigger-role-manager

fix(chat-session):modified llm payload
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/ICacheService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/CacheService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/CacheableMessageData.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/LlmPayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/LlmResponse.java
  message-history/Tests/MessageHistoryServiceTests.cs
  message-history/Tests/Tests.csproj
  message-history/messageHistory.sln
Due: trigger-message-history

Path conditions:
  trigger-api-gateway: any of: api-gateway/*
  trigger-chat-session: any of: chat-session/*
  trigger-chats: any of: chats/*
  trigger-document-manager: any of: document-manager/*
  trigger-llm-manager: any of: llm-manager/*
  trigger-message-history: any of: message-history/*
  trigger-role-manager: any of: role-manager/*
