Repository nicklnick/tpe-arqui-microservicios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-api-gateway, trigger-chat-session, trigger-chats, trigger-document-manager, trigger-llm-manager, trigger-message-history, trigger-role-manager

trigger-api-gateway:
  stage: triggers
  trigger:
    include: /api-gateway/.gitlab-ci.yml

trigger-chat-session:
  stage: triggers
  trigger:
    include: chat-session/.gitlab-ci.yml

trigger-chats:
  stage: triggers
  trigger:
    include: chats/.gitlab-ci.yml

trigger-document-manager:
  stage: triggers
  trigger:
    include: document-manager/.gitlab-ci.yml

trigger-llm-manager:
  stage: triggers
  trigger:
    include: llm-manager/.gitlab-ci.yml

trigger-message-history:
  stage: triggers
  trigger:
    include: message-history/.gitlab-ci.yml

trigger-role-manager:
  stage: triggers
  trigger:
    include: role-manager/.gitlab-ci.yml

chore(role-manager): containerize api
  role-manager/Dockerfile
Due: trigger-role-manager

fix(role-manager): change db name in api
  role-manager/.env.dev
  role-manager/.env.prod
  role-manager/src/app.module.ts
Due: trigger-role-manager

build(role-manager): add basic helm chart config
  helm-chart/.helmignore
  helm-chart/.prettierrc
  helm-chart/Chart.yaml
  helm-chart/charts/ingress-nginx-4.10.1.tgz
  helm-chart/templates/_helpers.tpl
  helm-chart/templates/ingress.yaml
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/templates/role-manager/api/service.yaml
  helm-chart/values.yaml
Due: none

fix(role-manager): change api config
  role-manager/.env.dev
  role-manager/.env.prod
  role-manager/src/app.module.ts
Due: trigger-role-manager

build(role-manager): separate db and api deployments
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/templates/role-manager/api/service.yaml
  helm-chart/templates/role-manager/db/deployment.yaml
  helm-chart/templates/role-manager/db/service.yaml
  helm-chart/values.yaml
Due: none

style(role-manager): format files
  role-manager/src/app.module.ts
  role-manager/src/users/controllers/users.controller.ts
  role-manager/src/users/dtos/userRegisterDto.ts
  role-manager/src/users/dtos/userRequestDto.ts
  role-manager/src/users/models/user.ts
  role-manager/src/users/services/implementation/users.service.ts
  role-manager/src/users/services/interface/users.interface.ts
  role-manager/src/users/tests/users.controller.spec.ts
  role-manager/src/users/users.module.ts
  role-manager/src/users/utils/roleEnum.ts
Due: none

build(role-manager): add env variables to api, add docs
  helm-chart/README.md
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/values.yaml
Due: none

build(role-manager): add env variables to api, add docs
  helm-chart/README.md
Due: none

build(role-manager): add pv and pvc for db
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/templates/role-manager/db/deployment.yaml
  helm-chart/templates/role-manager/db/pv.yaml
  helm-chart/templates/role-manager/db/pvc.yaml
  helm-chart/values.yaml
Due: none

build(role-manager): parametrize env variables for typeorm in api
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/values.yaml
Due: none

build(chats): add helm templates for chats microservice
  cicd-pipeline-template.yml
  helm-chart/.helmignore
  helm-chart/templates/chats/api/deployment.yaml
  helm-chart/templates/chats/api/service.yaml
  helm-chart/templates/chats/db/deployment.yaml
  helm-chart/templates/chats/db/pv.yaml
  helm-chart/templates/chats/db/pvc.yaml
  helm-chart/templates/chats/db/service.yaml
  helm-chart/values.yaml
  role-manager/src/app.module.ts
Due: none

ci: pipeline deployment stage
  cicd-pipeline-template.yml
  message-history/.gitlab-ci.yml
Due: trigger-message-history

ci: role manager path for helm
  message-history/.gitlab-ci.yml
  role-manager/.gitlab-ci.yml
Due: trigger-message-history, trigger-role-manager

fix: cicd template deploy ssh command
  cicd-pipeline-template.yml
Due: none

fix: ssh connection in deploy
  cicd-pipeline-template.yml
Due: none

Test added
  .gitignore
  role-manager/.env.dev
  role-manager/Dockerfile
  role-manager/package-lock.json
  role-manager/package.json
  role-manager/requests.http
  role-manager/src/app.module.ts
  role-manager/src/users/controllers/users.controller.ts
  role-manager/src/users/models/user.ts
  role-manager/src/users/services/implementation/users.service.ts
  role-manager/src/users/services/interface/users.interface.ts
  role-manager/src/users/tests/users.controller.spec.ts
  role-manager/src/users/tests/users.service.spec.ts
  role-manager/src/users/users.module.ts
  role-manager/test/app.e2e-spec.ts
  role-manager/tsconfig.json
Due: trigger-role-manager

fix: strict host key checking
  cicd-pipeline-template.yml
Due: none

test(role-manager): add unit and e2e tests
  .gitignore
  docker-compose.yml
  role-manager/.env.dev
  role-manager/.env.prod
  role-manager/src/app.module.ts
  role-manager/test/app.e2e-spec.ts
Due: trigger-role-manager

test(role-manager): add unit and e2e tests
  .gitignore
  docker-compose.yml
  package-lock.json
  package.json
  role-manager/.env.dev
  role-manager/.env.prod
  role-manager/.env.test.db
  role-manager/.env.test.e2e
  role-manager/src/app.module.ts
  role-manager/src/users/tests/users.integration.spec.ts
  role-manager/test/app.e2e-spec.ts
Due: trigger-role-manager

ci: add tests to pipeline
  cicd-pipeline-template.yml
  role-manager/.gitlab-ci.yml
Due: trigger-role-manager

fix: deploy stage uses helm image
  cicd-pipeline-template.yml
Due: none

ci: add tests to pipeline
  api-gateway/.gitlab-ci.yml
  chat-session/.gitlab-ci.yml
  chats/.gitlab-ci.yml
  cicd-pipeline-template.yml
  document-manager/.gitlab-ci.yml
  embeddings/.gitlab-ci.yml
  llm-manager/.gitlab-ci.yml
  message-history/.gitlab-ci.yml
  role-manager/.gitlab-ci.yml
Due: trigger-api-gateway, trigger-chat-session, trigger-chats, trigger-document-manager, trigger-llm-manager, trigger-message-history, trigger-role-manager

fix: deploy use image with helm and ssh
  cicd-pipeline-template.yml
Due: none

fix: deploy tag
  cicd-pipeline-template.yml
Due: none

fix: deliver tags
  cicd-pipeline-template.yml
Due: none

docs: add readme to setup gitlab runner
  docs/gitlab-runner.md
Due: none

chore: trying deployment
  helm-chart/values.yaml
Due: none

fix: helm uses upgrade command in deploy
  cicd-pipeline-template.yml
Due: none

fix: deploy after scripts
  cicd-pipeline-template.yml
Due: none

chore: test after script deploy
  cicd-pipeline-template.yml
Due: none

fix: change commands order in deploy
  cicd-pipeline-template.yml
Due: none

fix: some other tests to solve deploy problem
  cicd-pipeline-template.yml
Due: none

feat(api-gateway): start development of the API gateway
  .gitignore
  api-gateway/apigw/.gitignore
  api-gateway/apigw/build.gradle
  api-gateway/apigw/gradle/wrapper/gradle-wrapper.jar
  api-gateway/apigw/gradle/wrapper/gradle-wrapper.properties
  api-gateway/apigw/gradlew
  api-gateway/apigw/gradlew.bat
  api-gateway/apigw/readme.md
  api-gateway/apigw/settings.gradle
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/ApigwApplication.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/users/UserController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketConfig.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/FarewellMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/GreetingMessage.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/dtos/WebSocketMessage.java
  api-gateway/apigw/src/main/resources/application.properties
  api-gateway/apigw/src/test/java/g1/arquimicroservicios/apigw/ApigwApplicationTests.java
  role-manager/test/app.e2e-spec.ts
Due: none

chore: deploy stage uses kubectl and helm
  cicd-pipeline-template.yml
Due: none

fix: remove volumes and use entrypoint in deploy stage
  cicd-pipeline-template.yml
Due: none

Update file cicd-pipeline-template.yml
  cicd-pipeline-template.yml
Due: none

Update cicd-pipeline-template.yml
  cicd-pipeline-template.yml
Due: none

build: parametrize helm charts
  cicd-pipeline-template.yml
  helm-chart/.helmignore
  helm-chart/templates/api/deployment.yaml
  helm-chart/templates/api/service.yaml
  helm-chart/templates/chats/api/deployment.yaml
  helm-chart/templates/chats/api/service.yaml
  helm-chart/templates/chats/db/deployment.yaml
  helm-chart/templates/chats/db/pv.yaml
  helm-chart/templates/chats/db/pvc.yaml
  helm-chart/templates/chats/db/service.yaml
  helm-chart/templates/db/deployment.yaml
  helm-chart/templates/db/pv.yaml
  helm-chart/templates/db/pvc.yaml
  helm-chart/templates/db/service.yaml
  helm-chart/templates/role-manager/api/deployment.yaml
  helm-chart/templates/role-manager/api/service.yaml
  helm-chart/templates/role-manager/db/deployment.yaml
  helm-chart/templates/role-manager/db/pv.yaml
  helm-chart/templates/role-manager/db/pvc.yaml
  helm-chart/templates/role-manager/db/service.yaml
  helm-chart/values-chats.yaml
  helm-chart/values-document-manager.yaml
  helm-chart/values-ingress.yaml
  helm-chart/values-role-manager.yaml
  helm-chart/values.yaml
  role-manager/.gitlab-ci.yml
Due: trigger-role-manager

ci: change the way we handle tests, giving ownership to each microservice
  cicd-pipeline-template.yml
  docker-compose.yml
  role-manager/.env.test.db
  role-manager/.env.test.e2e
  role-manager/.gitlab-ci.yml
  role-manager/.scripts/component/test.sh
  role-manager/.scripts/e2e/.env
  role-manager/.scripts/e2e/docker-compose.yaml
  role-manager/.scripts/e2e/test.sh
  role-manager/.scripts/functional/test.sh
  role-manager/.scripts/integration/test.sh
  role-manager/.scripts/unit/test.sh
  role-manager/Dockerfile
Due: trigger-role-manager

feat(api-gateway): connected to role manager
  README.md
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserRegisterRequest.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserSignInRequest.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/ApiUserSignInResponseDto.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/users/UserController.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IUsersService.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/implementations/UsersService.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/implementations/requestsDtos/RegisterRequestDto.java
  api-gateway/apigw/src/main/java/g1/arquimicroservicios/apigw/services/implementations/requestsDtos/SignInRequestDto.java
  api-gateway/apigw/src/main/resources/application.properties
  docker-compose.yml
  package-lock.json
  package.json
  role-manager/.env.test.db
  role-manager/application/.env.dev
  role-manager/application/.env.test.e2e
  role-manager/database/.env.dev
  role-manager/src/users/controllers/users.controller.ts
  role-manager/test/app.e2e-spec.ts
Due: trigger-role-manager

Path conditions:
  trigger-api-gateway: any of: api-gateway/*
  trigger-chat-session: any of: chat-session/*
  trigger-chats: any of: chats/*
  trigger-document-manager: any of: document-manager/*
  trigger-llm-manager: any of: llm-manager/*
  trigger-message-history: any of: message-history/*
  trigger-role-manager: any of: role-manager/*
