Repository nicklnick/tpe-arqui-microservicios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-api-gateway, trigger-chat-session, trigger-chats, trigger-document-manager, trigger-llm-manager, trigger-message-history, trigger-role-manager

trigger-api-gateway:
  stage: triggers
  trigger:
    include: /api-gateway/.gitlab-ci.yml

trigger-chat-session:
  stage: triggers
  trigger:
    include: chat-session/.gitlab-ci.yml

trigger-chats:
  stage: triggers
  trigger:
    include: chats/.gitlab-ci.yml

trigger-document-manager:
  stage: triggers
  trigger:
    include: document-manager/.gitlab-ci.yml

trigger-llm-manager:
  stage: triggers
  trigger:
    include: llm-manager/.gitlab-ci.yml

trigger-message-history:
  stage: triggers
  trigger:
    include: message-history/.gitlab-ci.yml

trigger-role-manager:
  stage: triggers
  trigger:
    include: role-manager/.gitlab-ci.yml

fix(message-history): now dies when it cannot connect to db
  message-history/src/Api/Program.cs
Due: none

fix(api-gw): now durable queues
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RabbitMQConfig.java
Due: none

build: add chat-session charts
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/chat-session/.helmignore
  helm-charts/app/charts/chat-session/Chart.yaml
  helm-charts/app/charts/chat-session/templates/_helpers.tpl
  helm-charts/app/charts/chat-session/templates/api/deployment.yaml
  helm-charts/app/charts/chat-session/templates/api/service.yaml
  helm-charts/app/charts/chat-session/templates/db/pv.yaml
  helm-charts/app/charts/chat-session/templates/db/pvc.yaml
  helm-charts/app/charts/chat-session/templates/db/service.yaml
  helm-charts/app/charts/chat-session/templates/db/stateful_set.yaml
  helm-charts/app/charts/chat-session/values.yaml
  helm-charts/app/charts/message-history/values.yaml
  helm-charts/app/templates/gateway.yaml
  helm-charts/app/values.yaml
Due: none

fix: correct values in helm charts
  helm-charts/app/charts/chat-session/templates/db/stateful_set.yaml
  helm-charts/app/charts/chat-session/values.yaml
  helm-charts/app/values.yaml
  llm-manager/app.py
Due: trigger-llm-manager

build: update images for testing, message-history does not work
  helm-charts/app/values.yaml
Due: none

fix: correct chat session
  helm-charts/app/values.yaml
Due: none

fix(chat-session): fix issue with redis
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RedisConfig.java
Due: none

build: everything works
  document-manager/.env
  document-manager/requirements.txt
  document-manager/src/config/embeddings_db_config.py
  helm-charts/app/charts/document-manager/values.yaml
  helm-charts/app/charts/llm-manager/values.yaml
  helm-charts/app/values.yaml
Due: trigger-document-manager

Test(api-gw): Added unit tests
  .gitignore
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserSignInRequest.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerControllerTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/UserControllerTest.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/UserControllerTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/services/ChatsServiceTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/services/DocumentManagerServiceTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/services/MessageHistoryServiceTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/services/UsersServiceTests.java
Due: none

fix: allow * hosts to connect
  helm-charts/app/templates/gateway.yaml
Due: none

test(document-manager): fix e2e test to stop relying on a pdf file
  document-manager/src/tests/e2e/sample.pdf
  document-manager/src/tests/e2e/test_app.py
Due: none

test(chat-session): Added chats-session tests
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RedisConfig.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/CacheService.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/amqpcontrollers/InputListenerTests.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/amqpcontrollers/ResponseListenerTests.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/services/ApiGatewayServiceTests.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/services/CacheServiceTests.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/services/LlmServiceTests.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/services/MessageHistoryServiceTests.java
Due: none

fix(role-manager): fixed tests
  role-manager/src/users/tests/users.controller.spec.ts
  role-manager/src/users/tests/users.integration.spec.ts
Due: none

test(document-manager): fix e2e tests
  document-manager/src/tests/e2e/test_app.py
Due: none

chore: fix cors configuration to allow connection with frontend
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  helm-charts/app/templates/gateway.yaml
  helm-charts/app/values.yaml
Due: none

test: Try pipeline trigger
  chats/.scripts/integration/test.sh
  chats/.scripts/unit/test.sh
  chats/Dockerfile
  chats/Dockerfile.integration
  chats/Dockerfile.unit
Due: trigger-chats

test: pipeline
  chats/.scripts/integration/test.sh
  chats/.scripts/unit/test.sh
Due: none

test: pipeline
  chats/src/ChatsApi/Program.cs
Due: none

fix(api-gw): sign in endpoint fixed
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
Due: none

test: pipeline trigger
  chats/.scripts/integration/test.sh
  chats/.scripts/unit/test.sh
Due: none

test: pipeline execution
  chats/.scripts/e2e/test.sh
  chats/.scripts/integration/test.sh
  chats/.scripts/unit/test.sh
  message-history/.scripts/integration/test.sh
  message-history/.scripts/unit/test.sh
  message-history/Dockerfile.integration
  message-history/Dockerfile.unit
Due: trigger-message-history

test: pipeline execution
  api-gateway/.scripts/component/test.sh
  api-gateway/.scripts/e2e/test.sh
  api-gateway/.scripts/functional/test.sh
  api-gateway/.scripts/integration/test.sh
  api-gateway/.scripts/unit/test.sh
  api-gateway/Dockerfile.unit
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/UserControllerTests.java
Due: trigger-api-gateway

TEST: pipeline execution
  api-gateway/Dockerfile
Due: trigger-api-gateway

TEST: pipeline execution
  api-gateway/Dockerfile.unit
  chat-session/.scripts/component/test.sh
  chat-session/.scripts/e2e/test.sh
  chat-session/.scripts/functional/test.sh
  chat-session/.scripts/integration/test.sh
  chat-session/.scripts/unit/test.sh
  chat-session/Dockerfile.unit
Due: trigger-api-gateway, trigger-chat-session

fix(api-gw): fixed minor sync issue
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  chat-session/src/test/java/ar/edu/itba/arquimicro/ampqcontrollers/amqpcontrollers/ResponseListenerTests.java
Due: none

docs: add docs to install a pod with a gitlab runner
  docs/gitlab-runner-pod/README.md
  docs/gitlab-runner-pod/helmfile.yaml
  docs/gitlab-runner-pod/istio-crbac.yaml
  docs/gitlab-runner-pod/pv-rbac.yaml
  docs/gitlab-runner-pod/rabbitmq-rbac.yaml
  docs/gitlab-runner-pod/secret-rbac.yaml
Due: none

test: add stress test scripts
  infra/tests/test_http.js
  infra/tests/test_ws.js
Due: none

chore: update charts
  helm-charts/app/values.yaml
Due: none

docs: add readme, delete api keys, cleanup project
  README.md
  chat-session/docker-compose.yaml
  docker-compose.yml
  docs/img/k8s-arch.png
  docs/img/logic-arch.png
  helm-charts/app/charts/document-manager/values.yaml
  helm-charts/app/charts/llm-manager/values.yaml
  infra/tests/test_http.js
  infra/tests/test_ws.js
Due: trigger-chat-session

Path conditions:
  trigger-api-gateway: any of: api-gateway/*
  trigger-chat-session: any of: chat-session/*
  trigger-chats: any of: chats/*
  trigger-document-manager: any of: document-manager/*
  trigger-llm-manager: any of: llm-manager/*
  trigger-message-history: any of: message-history/*
  trigger-role-manager: any of: role-manager/*
