Repository nicklnick/tpe-arqui-microservicios: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-api-gateway, trigger-chat-session, trigger-chats, trigger-document-manager, trigger-llm-manager, trigger-message-history, trigger-role-manager

trigger-api-gateway:
  stage: triggers
  trigger:
    include: /api-gateway/.gitlab-ci.yml

trigger-chat-session:
  stage: triggers
  trigger:
    include: chat-session/.gitlab-ci.yml

trigger-chats:
  stage: triggers
  trigger:
    include: chats/.gitlab-ci.yml

trigger-document-manager:
  stage: triggers
  trigger:
    include: document-manager/.gitlab-ci.yml

trigger-llm-manager:
  stage: triggers
  trigger:
    include: llm-manager/.gitlab-ci.yml

trigger-message-history:
  stage: triggers
  trigger:
    include: message-history/.gitlab-ci.yml

trigger-role-manager:
  stage: triggers
  trigger:
    include: role-manager/.gitlab-ci.yml

ci: fix test stages
  cicd-pipeline-template.yml
Due: none

ci: fix pipeline
  cicd-pipeline-template.yml
Due: none

fix(chats): fixed project structure
  chats/.gitignore
  chats/ChatsApi.sln
  chats/ChatsApi/ChatsApi.sln.DotSettings.user
  chats/ChatsApi/Dockerfile
  chats/Dockerfile
  chats/Tests/ChatControllerUnitTests.cs
  chats/Tests/ChatServiceUnitTests.cs
  chats/Tests/ChatsIntegrationTest.cs
  chats/Tests/Tests.csproj
  chats/docker-compose.yaml
  chats/src/ChatsApi/ChatsApi.csproj
  chats/src/ChatsApi/Controllers/ChatsController.cs
  chats/src/ChatsApi/Controllers/Dtos/ChatDto.cs
  chats/src/ChatsApi/Migrations/20240630183048_InitialMigration.Designer.cs
  chats/src/ChatsApi/Migrations/20240630183048_InitialMigration.cs
  chats/src/ChatsApi/Migrations/ChatDbContextModelSnapshot.cs
  chats/src/ChatsApi/Models/Chat.cs
  chats/src/ChatsApi/Models/ChatDbContext.cs
  chats/src/ChatsApi/Program.cs
  chats/src/ChatsApi/Properties/launchSettings.json
  chats/src/ChatsApi/ServicesImplementation/ChatsService.cs
  chats/src/ChatsApi/ServicesInterface/IChatsService.cs
  chats/src/ChatsApi/appsettings.json
Due: trigger-chats

fix(api-gateway): reorganized project structure
  api-gateway/.gitignore
  api-gateway/build.gradle
  api-gateway/gradle/wrapper/gradle-wrapper.jar
  api-gateway/gradle/wrapper/gradle-wrapper.properties
  api-gateway/gradlew
  api-gateway/gradlew.bat
  api-gateway/readme.md
  api-gateway/settings.gradle
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/ApigwApplication.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/configuration/RabbitMQConfig.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/configuration/WebSocketConfig.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/constants/RabbitMQConstants.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/ChatsController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/MessageHistoryController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserRegisterRequest.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserSignInRequest.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/ApiUserSignInResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/ChatsResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/MessageHistoryResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/forwardingToBackendDtos/QuestionDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/incomingFromFrontendDtos/QuestionMessage.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/incomingFromFrontendDtos/WebSocketMessage.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IMessageHistoryService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IUsersService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/MessageHistoryService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/UsersService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/requestsDtos/RegisterRequestDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/requestsDtos/SignInRequestDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/ChatsServiceResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/MessageHistoryServiceResponseDto.java
  api-gateway/src/main/resources/application.yml
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/ApigwApplicationTests.java
Due: trigger-api-gateway

test(message-history):Added integration tests
  api-gateway/.gitlab-ci.yml
  chats/.scripts/component/test.sh
  chats/.scripts/functional/test.sh
  chats/.scripts/integration/test.sh
  chats/.scripts/unit/test.sh
  chats/src/ChatsApi/Program.cs
  message-history/.scripts/component/test.sh
  message-history/.scripts/e2e/docker-compose.yaml
  message-history/.scripts/e2e/test.sh
  message-history/.scripts/functional/test.sh
  message-history/.scripts/integration/test.sh
  message-history/.scripts/unit/test.sh
  message-history/Tests/MessageHistoryControllerTests.cs
  message-history/Tests/MessageHistoryIntegrationTests.cs
  message-history/Tests/MessageHistoryServiceTests.cs
  message-history/src/Api/EntityFrameworkConfig/MessagesDbContext.cs
Due: trigger-api-gateway

feat(apigw|chat-session): services are now dockerized
  api-gateway/.dockerignore
  api-gateway/Dockerfile
  chat-session/Dockerfile
  chat-session/src/main/resources/application.yml
Due: trigger-api-gateway, trigger-chat-session

build: add rabbitmq cluster with some docs
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/rabbitmq/.helmignore
  helm-charts/app/charts/rabbitmq/Chart.yaml
  helm-charts/app/charts/rabbitmq/README.md
  helm-charts/app/charts/rabbitmq/templates/_helpers.tpl
  helm-charts/app/charts/rabbitmq/templates/configmap.yaml
  helm-charts/app/charts/rabbitmq/templates/pv.yaml
  helm-charts/app/charts/rabbitmq/templates/rbac.yaml
  helm-charts/app/charts/rabbitmq/templates/secret.yaml
  helm-charts/app/charts/rabbitmq/templates/stateful_set.yaml
  helm-charts/app/charts/rabbitmq/values.yaml
  helm-charts/app/charts/role-manager/values.yaml
  helm-charts/app/values.yaml
Due: none

fix(api-gw|role_manager): Minor fixes concerning the apigw, and role manager, role manager now returns userId
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/ApiUserSignInResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IUsersService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/MessageHistoryService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/UsersService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/UserSignInResponseDto.java
  role-manager/src/users/controllers/users.controller.ts
  role-manager/src/users/models/user.ts
Due: none

feat(api-gw):Api gw now supports pdf file uploading
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/Injection/RestClientInjection.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IDocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/DocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/MessageHistoryService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/UsersService.java
  api-gateway/src/main/resources/application.yml
  role-manager/requests.http
Due: trigger-role-manager

fix(chats):now dies when cannot connect to db
  chats/src/ChatsApi/Program.cs
Due: none

merge: merge conflict
  api-gateway/.gitignore
  api-gateway/src/main/resources/application.yml
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/api-gateway/.helmignore
  helm-charts/app/charts/api-gateway/Chart.yaml
  helm-charts/app/charts/api-gateway/templates/_helpers.tpl
  helm-charts/app/charts/api-gateway/templates/api/deployment.yaml
  helm-charts/app/charts/api-gateway/templates/api/service.yaml
  helm-charts/app/charts/api-gateway/values.yaml
  helm-charts/app/templates/ingress.yaml
  helm-charts/app/values.yaml
Due: trigger-api-gateway

fix: partially fix apigw and nginx connection
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/DocumentManagerService.java
  helm-charts/app/charts/api-gateway/values.yaml
  helm-charts/app/charts/chats/values.yaml
  helm-charts/app/values.yaml
Due: none

fix: now ingress and apigw are connected
  helm-charts/app/values.yaml
Due: none

fix(document-manager): wrong merge at some point, correct background tasks function
  document-manager/src/background_tasks.py
Due: none

refractor(apigw): now more restful
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/ChatsController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/MessageHistoryController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IDocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IUsersService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/DocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/MessageHistoryService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/UsersService.java
Due: none

fix(api-gw):Document uploading now works
  .gitignore
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserRegisterRequest.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/MessageHistoryResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/DocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/ChatsServiceResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/MessageHistoryServiceResponseDto.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/ApigwApplicationTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerControllerTests.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/controllers/UserControllerTest.java
Due: none

docs(document-manager): document api
  document-manager/README.md
Due: trigger-document-manager

feat(api-gw): now api gw can create chats
  .gitignore
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/requestsDtos/ApiUserCreateChatRequest.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/requestsDtos/CreateChatDto.java
  api-gateway/src/test/java/g1/arquimicroservicios/apigw/services/ChatsServiceTests.java
  chats/Tests/ChatControllerUnitTests.cs
  chats/Tests/ChatsIntegrationTest.cs
  chats/src/ChatsApi/Controllers/ChatsController.cs
  chats/src/ChatsApi/Controllers/Dtos/CreateChatDto.cs
  chats/src/ChatsApi/Program.cs
Due: none

build: update api-gw image
  helm-charts/app/values.yaml
Due: none

build: add message history charts, chat creation not working
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/api-gateway/values.yaml
  helm-charts/app/charts/message-history/.helmignore
  helm-charts/app/charts/message-history/Chart.yaml
  helm-charts/app/charts/message-history/templates/_helpers.tpl
  helm-charts/app/charts/message-history/templates/api/deployment.yaml
  helm-charts/app/charts/message-history/templates/api/service.yaml
  helm-charts/app/charts/message-history/templates/db/pv.yaml
  helm-charts/app/charts/message-history/templates/db/pvc.yaml
  helm-charts/app/charts/message-history/templates/db/service.yaml
  helm-charts/app/charts/message-history/templates/db/stateful_set.yaml
  helm-charts/app/charts/message-history/values.yaml
  helm-charts/app/charts/rabbitmq/templates/stateful_set.yaml
  helm-charts/app/charts/role-manager/values.yaml
  helm-charts/app/values.yaml
  message-history/.gitlab-ci.yml
Due: trigger-message-history

fix: correct value for db chats in helm charts
  helm-charts/app/charts/chats/values.yaml
Due: none

build: federate rabbit queues on startup
  helm-charts/app/charts/rabbitmq/templates/configmap.yaml
  helm-charts/app/charts/rabbitmq/templates/secret.yaml
  helm-charts/app/charts/rabbitmq/templates/stateful_set.yaml
  helm-charts/app/charts/rabbitmq/values.yaml
Due: none

feat(document-manager): make api more rest-y
  document-manager/src/app.py
  document-manager/src/tests/e2e/test_app.py
  helm-charts/app/values.yaml
Due: none

test(llm-manager): add tests structure and component test build
  llm-manager/.scripts/component/docker-compose.yml
  llm-manager/.scripts/component/test.sh
  llm-manager/.scripts/e2e/test.sh
  llm-manager/.scripts/functional/test.sh
  llm-manager/.scripts/integration/test.sh
  llm-manager/.scripts/unit/test.sh
  llm-manager/Dockerfile
  llm-manager/app.py
  llm-manager/requirements.txt
  llm-manager/src/dependencies.py
  llm-manager/src/services/LlmService.py
  llm-manager/src/tests/component/mocked_app.py
  llm-manager/src/tests/component/test_client.py
Due: trigger-llm-manager

test(llm-manager): health check for mocked app
  llm-manager/.scripts/component/docker-compose.yml
  llm-manager/.scripts/component/test.sh
  llm-manager/Dockerfile
  llm-manager/requirements.txt
  llm-manager/src/tests/component/mocked_app.py
Due: trigger-llm-manager

test(llm-manager): fix sh scripts
  llm-manager/.scripts/e2e/test.sh
  llm-manager/.scripts/functional/test.sh
  llm-manager/.scripts/integration/test.sh
  llm-manager/.scripts/unit/test.sh
Due: none

build(llm-manager): add .gitlab-ci
  llm-manager/.gitlab-ci.yml
Due: trigger-llm-manager

feat: add istio, kiali, grafana and prometeus
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/values.yaml
  helm-charts/helmfile.yaml
  helm-charts/uninstall.sh
Due: none

docs(document-manager): update api docs
  document-manager/README.md
  document-manager/src/app.py
Due: trigger-document-manager

test(document-manager): fix e2e tests to accept new endpoints
  document-manager/src/tests/e2e/test_app.py
Due: none

docs(llm-manager): readme
  llm-manager/README.md
Due: trigger-llm-manager

docs(llm-manager): add pgvector to readme
  llm-manager/README.md
Due: trigger-llm-manager

build(llm-manager): add llm charts
  helm-charts/app/Chart.lock
  helm-charts/app/Chart.yaml
  helm-charts/app/charts/llm-manager/.helmignore
  helm-charts/app/charts/llm-manager/Chart.yaml
  helm-charts/app/charts/llm-manager/templates/_helpers.tpl
  helm-charts/app/charts/llm-manager/templates/api/deployment.yaml
  helm-charts/app/charts/llm-manager/templates/api/service.yaml
  helm-charts/app/charts/llm-manager/values.yaml
  helm-charts/app/values.yaml
  llm-manager/src/constants.py
Due: none

feat(api-gw): Now api gw communicates with document manager
  .gitignore
  api-gateway/build.gradle
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/UserController.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/responseDtos/ApiDocumentDataResponseDto.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/contracts/IDocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/ChatsService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/DocumentManagerService.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/genericServiceResponse/ServiceResponse.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/services/implementations/responseDtos/DocumentDataResponseDto.java
  api-gateway/src/main/resources/application.yml
  chats/src/ChatsApi/Controllers/ChatsController.cs
  document-manager/.env
  document-manager/docker-compose.yml
Due: trigger-api-gateway, trigger-document-manager

feat(api-gw | chat-session | llm-manager): e2e communication is now working!
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/configuration/RabbitMQConfig.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/constants/RabbitMQConstants.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/WebSocketImplementation.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/websocket/incomingFromBackendDtos/QuestionAnswerDto.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/InputListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/listeners/ResponseListener.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/payloads/InputResponsePayload.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/ampqcontrollers/util/QUEUES_DATA.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RabbitMQConfig.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/contracts/IApiGatewayService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/implementations/ApiGatewayService.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/services/models/InputResponsePayload.java
  chat-session/src/main/resources/application.yml
  llm-manager/src/tests/component/mocked_app.py
  message-history/src/Api/MessageQueueUtils/RabbitMQConsumer.cs
Due: none

build: add kiali, istio, grafana and jaeger
  helm-charts/app/Chart.lock
  helm-charts/app/charts/message-history/values.yaml
  helm-charts/app/templates/gateway.yaml
  helm-charts/app/templates/ingress.yaml
  helm-charts/app/values.yaml
  helm-charts/helmfile.yaml
  helm-charts/uninstall.sh
Due: none

fix(llm-manager): context usage
  llm-manager/src/services/LlmService.py
Due: none

fix(llm-manager): decode rabbit message
  llm-manager/app.py
  llm-manager/src/tests/component/mocked_app.py
Due: trigger-llm-manager

fix(apigw|chat-session|message-history): durable queues
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/configuration/RabbitMQConfig.java
  api-gateway/src/main/java/g1/arquimicroservicios/apigw/controllers/DocumentManagerController.java
  chat-session/src/main/java/ar/edu/itba/arquimicro/configuration/RabbitMQConfig.java
  message-history/src/Api/MessageQueueUtils/RabbitMQConsumer.cs
Due: none

Path conditions:
  trigger-api-gateway: any of: api-gateway/*
  trigger-chat-session: any of: chat-session/*
  trigger-chats: any of: chats/*
  trigger-document-manager: any of: document-manager/*
  trigger-llm-manager: any of: llm-manager/*
  trigger-message-history: any of: message-history/*
  trigger-role-manager: any of: role-manager/*
